/* Reset and Base */
@tailwind base;

/* Components */
@tailwind components;

/* Utilities */
@tailwind utilities;

/* General */
body {
  background-color: #f9f9f9; /* Light mode background color */
  margin: 0;
  padding-top: 4rem; /* Adjust as needed */
  padding-right: 5px;
  color: #37352F; /* Dark text color */
  font-family: Arial, sans-serif; /* Update with your preferred font stack */
}

/* Navbar */
.fixed-nav {
  position: fixed;
  inset: 0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Navbar background color */
  width: 100%; /* Full width for fixed navbar */
}

/* Layout */
.container {
  max-width: 100px; /* Set a max-width to constrain the site */
  margin: 0 auto;
  padding: 0 3rem; /* Add padding to prevent content from touching edges */
}

/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #f9f9f9; 
  min-height: 100vh;
  margin: 0 auto;
}

/* Typography */
.text-4xl {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-center {
  text-align: start;
}

/* Buttons and Links */
.custom-link {
  display: inline-block;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background for links */
  color: #fff; /* White text color */
  text-decoration: none;
  border: 2px solid; /* Accent color for border */
  border-radius: 8px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and transform */
}

.custom-link:hover {
  background-color: green; /* Accent color on hover */
}

/* Grid */
.grid {
  display: grid;
  gap: 2rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.sm\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* Timeline */
.timeline-container {
  margin-top: 5px;
  overflow-x: auto;
  display: flex;
  justify-content: start;
  padding: 0 0.5rem;
}

.timeline {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  max-width: 100%;
  padding: 5px;
}

.timeline-item {
  flex: 0 0 auto;
  width: 40%;
  padding: 15px;
  background-color: #f0f0f0;
  margin-right: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-box {
  flex: 0 0 auto;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.reference-box {
  flex: 0 0 auto;
  width: 95%;
  padding: 15px;
  background-color: #D2D0D0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.fig-box {
  flex: 0 0 auto;
  width: 95%;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.timeline-content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.img-container {
  max-width: 100%;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

.text-content {
  flex: 1;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 0.5rem;
  }

  .timeline-container {
    max-width: 100%;
    padding: 0 0.5rem;
  }

  .timeline-item {
    width: 80%;
  }

  .home-container {
    padding-top: 5%;
  }

  .text {
    font-size: 16px;
  }

  .timeline-content {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    max-width: 100%;
  }

  .img-container img {
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .timeline-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .home-container {
    padding-top: 20px;
    max-width: 800px; /* Set a max-width to constrain the site */
  }
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .responsive-iframe-container {
      padding-top: 75%; /* 4:3 Aspect Ratio for smaller screens */
  }
}