/* Reset and Base */
@tailwind base;

/* Components */
@tailwind components;

/* Utilities */
@tailwind utilities;

/* General */
body {
  background-color: #f9f9f9; /* Light mode background color */
  margin: 0;
  padding: 4rem 1rem 0; /* Adjust padding-top and right as needed */
  color: #333; /* Dark text color */
  font-family: Arial, sans-serif; /* Update with your preferred font stack */
}

/* Navbar */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Navbar background color */
}

/* Layout */
.container {
  max-width: 100%; /* Adjust as per design */
  margin: 0 auto;
  padding: 0 1rem; /* Adjust padding as per design */
}

/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px; /* Set a max-width to constrain the site */
  margin: 0 auto;
  padding: 5% 1rem; /* Adjust padding as per design */
}

/* Typography */
.text-4xl {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-center {
  text-align: center;
}

/* Buttons and Links */
.custom-link {
  display: inline-block;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background for links */
  color: #fff; /* White text color */
  text-decoration: none;
  border: 2px solid; /* Accent color for border */
  border-radius: 8px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background and transform */
}

.custom-link:hover {
  background-color: green; /* Accent color on hover */
}

/* Grid */
.grid {
  display: grid;
  gap: 2rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.sm\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.lg\:grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* Timeline */
.timeline-container {
  margin-top: 5px;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.timeline {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  width: 100%; /* Make the timeline stretch edge-to-edge */
  padding: 5px;
}

.timeline-item {
  flex: 0 0 auto;
  width: 40%;
  padding: 15px;
  background-color: #f0f0f0;
  margin-right: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Ensure items also stretch edge-to-edge */
}


.img-container {
  max-width: 100%;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }

  .timeline-container {
    padding: 0 0.5rem;
  }

  .timeline-item {
    width: 80%;
  }

  .home-container {
    padding-top: 15%; /* Adjust as per design */
    padding: 5% 0.5rem; /* Adjust padding as per design */
  }

  .text {
    font-size: 16px;
  }

  .timeline-content {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    max-width: 100%;
  }

  .img-container img {
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .timeline-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .home-container {
    padding-top: 20px; /* Adjust as per design */
  }
}
